
h2{
    margin: 0%;
    position: relative;
}

h3{
    margin: 4px 0px;
}

.contact {
    position: relative;
    text-align: center;
}

.contact img{
    width: 17px;
    height: 17px;
    position: absolute;
}

span{
    width: 25%;
}

.summary{
    display: inline-block;
    width: 25%;
    height: 25%;
}

.work{
    width: 40%;
    height: 192px;
    display: inline-block;
}

/* h2::before{
    content:" ";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
} */