.contact{
    margin: 0px;
}

::marker{
    list-style: none;
}

h2{
    position: relative;
}

span{
    display: inline-block;
    width: 30%;
    
}

.work, .summary{
    margin-top: 1px;
    display: inline-block;
}

h2::before{
    content:" ";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
}