
::marker{
    list-style: none;
}

h2{
    margin: 0%;
    position: relative;
}

span{
    display: inline-block;
    width: 25%;
    margin: 10px 0px 10px 40px;
    
}

.work{
    width: 50%;
    display: inline-block;
    margin: 10px 0px 10px 40px;
}

h2::before{
    content:" ";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
}