body{
    font-family: Georgia, serif;
}

label{
    color: rgb(255, 255, 255);
}

::placeholder, option{
    color: #ffffff;
}

div{
    background-color:#605d84;
}

input, select, textarea{
    background-color: #2E2D3D;
    color: #ffffff;
}